/* EventDetails.css */

.event-details-container {
  display: inherit;

  justify-content: space-between;

  gap: 40px;

  max-width: 1000px;

  margin: 50px;

  margin-left: 80px;
  vertical-align: middle;
  

}

.event-details-column {
  flex: 1;
}

.status-header {
  font-size: 24px;

  font-weight: bold;

  margin-bottom: 20px;

  font-family: Arial, Helvetica, sans-serif;

  color: #4d4d4d;
  border-bottom:  #4d4d4d 1px solid;
}

.por-header {
  font-size: 24px;

  font-weight: bold;

  margin-bottom: 20px;

  margin-top: 30px;

  font-family: Arial, Helvetica, sans-serif;

  color: #4d4d4d;
  border-bottom:  #4d4d4d 1px solid;
}

.event-details-header {
  font-size: 24px;

  font-weight: bold;

  margin-bottom: 20px;

  font-family: Arial, Helvetica, sans-serif;

  color: #4d4d4d;
  border-bottom:  #4d4d4d 1px solid;
}

.event-details-field {
  display: flex;

  margin-bottom: 15px;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  color: #1a1a1a;
  margin-left: 13%;
  
}

.event-details-label {
  width: 140px;

  font-weight: bold;
}

.event-details-value {
  flex: 1;
  /* justify-items: left; */
}

.event-details-progress {
  width: 50%;
}

.event-details-subheader {
  font-size: 20px;

  font-weight: bold;

  margin-bottom: 10px;
}

.checkpoints {
  grid-column: 1 / -1; /* Span across all columns */
}

.timeline-header {
  font-size: 24px;

  font-weight: bold;

  margin-bottom: 20px;

  font-family: Arial, Helvetica, sans-serif;

  color: #4d4d4d;
  border-bottom:  #4d4d4d 1px solid;

}

/* Additional styling for timeline items */
.ui5-timeline-item {
  text-align: center;
}